.footer {
    height: 500;
    width: 100%;
    background-color: rgba(29, 18, 10, 0.7);
    font-family: 'spaceGames', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 62px 100px;
    border-top: solid 2px #E8B77C;

}

.footerLink {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto;
    gap: 20px;

}

.footerLink > .footerLink_item:nth-child(odd) {
    text-align: left;
}

.footerLink > .footerLink_item:nth-child(even) {
    text-align: right;
}

.followUS {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-size: 10px;    

}

.copyright {
    text-align: center;

}
