
.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 62px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 80px; 
  width: 100%; 
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/main-page.png');
  background-size: cover;
  background-position: 0 200px;
  clip-path: inset(0 0 0 0); 
  z-index: 1; 
  filter: blur(12px);
}

/* Đảm bảo nội dung header nằm trên background */
.headerContent {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2; 
  padding: 0px 100px;
}

.logo {

}

.navList {
    display: flex;
    align-items: center;
    gap: 42px;
    font-family: 'spaceGames', sans-serif;
    margin-right: auto;
    margin-left: 42px;
}

.button {
    width: 123px;
    height: 62px;
    background-color: white;
}
