.customPagination {
  position: absolute !important;
  top: 0px !important; 
  bottom: auto !important;
  left: 0 !important;
  right: 0 !important;
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 30;
  width: 100%;
  pointer-events: auto;
}

.customPagination :global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 2px solid #E8B77C;
  opacity: 0.7;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.customPagination :global(.swiper-pagination-bullet-active) {
  background: #E8B77C;
  border: 2px solid transparent;
  opacity: 1;
}


.paginationHorizontal {
  top: auto !important;
  bottom: 150px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* Hide default Swiper arrow text */
:global(.swiper-button-prev::after),
:global(.swiper-button-next::after) {
  display: none;
}

/* Custom styles for navigation buttons */
:global(.swiper-button-prev),
:global(.swiper-button-next) {
  width: 88px; /* Adjust size as needed */
  height: 88px; /* Adjust size as needed */
  top: 54%;
  transform: translateY(-50%);
  z-index: 50; /* Ensure they are above other content */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

:global(.swiper-button-prev) {
  left: 1px; /* Adjust as needed */
}

:global(.swiper-button-next) {
  right: 1px; /* Adjust as needed */
}

@media (min-width: 1024px) {
  :global(.swiper-button-prev) {
  left: 210px; /* Adjust as needed */
}

:global(.swiper-button-next) {
  right: 210px; /* Adjust as needed */
}
}